<script lang="ts" setup>
import { ref } from "vue";

const emoticon = ref("Smile");
const img = ref("feeling_imgs/Smile.png");

function changWithbtn(value: string, id: string): void {
  emoticon.value = value;
  img.value = "feeling_imgs/" + emoticon.value + ".png";
  console.log(img.value);
  document.getElementById("1")!.style.background = "white";
  // document.getElementById(id)!.style.background = "yellow";
  document.getElementById("2")!.style.background = "white";
  // document.getElementById(id)!.style.background = "yellow";
  document.getElementById("3")!.style.background = "white";
  // document.getElementById(id)!.style.background = "yellow";
  document.getElementById("4")!.style.background = "white";
  // document.getElementById(id)!.style.background = "yellow";
  document.getElementById("5")!.style.background = "white";
  // document.getElementById(id)!.style.background = "yellow";
  document.getElementById("6")!.style.background = "white";
  document.getElementById(id)!.style.background = "yellow";
}
</script>

<template>
  <v-row>
    <v-col cols="6">
      <v-container>
        <v-img
          :src="img"
          class="justify-center"
          width="700px"
          height="500px"
        ></v-img>
      </v-container>
    </v-col>
    <v-col cols="=6">
      <v-row justify="center" class="mt-5">
        <div style="font-size: 45px">{{ emoticon }}</div>
      </v-row>
      <v-row justify="center">
        <v-btn
          style="font-size: large"
          width="100%"
          height="60px"
          class="ma-1"
          id="1"
          @click="changWithbtn('Angry', '1')"
          >Angry</v-btn
        >
      </v-row>
      <v-row justify="center">
        <v-btn
          style="font-size: large"
          width="100%"
          height="60px"
          class="ma-1"
          id="2"
          @click="changWithbtn('Cute', '2')"
          >cute</v-btn
        >
      </v-row>
      <v-row justify="center">
        <v-btn
          style="font-size: large"
          width="100%"
          height="60px"
          class="ma-1"
          id="3"
          @click="changWithbtn('Excited', '3')"
          >Excited</v-btn
        >
      </v-row>
      <v-row justify="center">
        <v-btn
          style="font-size: large"
          width="100%"
          height="60px"
          class="ma-1"
          id="4"
          @click="changWithbtn('Pain', '4')"
          >pain</v-btn
        >
      </v-row>
      <v-row justify="center">
        <v-btn
          style="font-size: large"
          width="100%"
          height="60px"
          class="ma-1"
          id="5"
          @click="changWithbtn('Shocked', '5')"
          >shocked</v-btn
        >
      </v-row>
      <v-row justify="center">
        <v-btn
          style="font-size: large"
          width="100%"
          height="60px"
          class="ma-1"
          id="6"
          @click="changWithbtn('Smile', '6')"
          >smile</v-btn
        >
      </v-row>
    </v-col>
  </v-row>
</template>

<style scoped></style>
