<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
import { ref } from "vue";
const counterStore = useCounterStore();
</script>
<template>
  <v-container grid-list-xs>
    <v-row>
      <v-col md="4">
        <div><h3>First Component</h3></div>
        <div>{{ counterStore.count }}</div>
        <v-btn @click="counterStore.increment">increment</v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>
